/*2016-4 by myaweemy , 3rd edition...*/

/* reset */
body,ul,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */

/* public */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }
.gradient {
	background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:linear-gradient(top, #FFFFFF, #f8f8f8);
	/*ie 滤镜*/
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
	/*ie6 7*/
	+background-color:#f9f9f9;
}
.triangle_up, .triangle-down-red, .triangle-down-gray { position:absolute; width:0; height:0; overflow:hidden; border-left:4px solid transparent; border-right:4px solid transparent; }
.triangle_up { border-bottom:4px solid #ca0309; }
.triangle-down-red { border-top:4px solid #ca0309; }
.triangle-down-gray { border-top:4px solid #c4bdbd; }

#header, #nav, .content { width:960px; margin:0 auto; }
#searchBox, .section, .login, .side_section, .ad_border, #footer, .activity, .recommend { border-radius:6px; border:1px solid #dbdbdb; }
.main-ad, .side_section, .side_ad, .ad_border { margin-bottom:10px; }

body { margin-bottom:30px; }
#header { height:30px; border-radius:0 0 6px 6px; }
#nav { height:100px; position:relative; }
#searchBox { width:958px; height:114px; margin:0 auto 10px; position:relative; }
.main { width:710px; }
.main-wrap { padding-bottom:10px; }
.section { width:318px; padding:0 15px; }
.options { width:350px; position:relative; }
.main-ad { border-radius:6px; overflow:hidden; }
.side { width:240px; }
.side_section { padding:0 12px; }
.side_ad { border-radius:6px; overflow:hidden; }
.ad_border { width:238px; height:88px; overflow:hidden; }
#footer { width:958px; height:64px; padding-top:14px; line-height:25px; margin:0 auto; background-color:#f9f9f9; color:#767676; text-align:center; }
#footer a { color:#454545; margin:0 6px; }
#footer a:hover { text-decoration:underline; }
#footer span { margin-left:10px; }

.options .nav { height:34px; position:relative; z-index:2; }
.options .nav li { width:172px; height:33px; line-height:33px; text-align:center; position:relative; border:1px solid #dbdbdb; border-bottom:none; cursor:pointer; border-radius:6px 6px 0 0; }
.options .nav .active  { height:34px; line-height:34px; background-color:#fff; }
.options .con { width:318px; padding:0 15px; border:1px solid #dbdbdb; border-radius:0 0 6px 6px; position:absolute; top:34px; left:0; z-index:1; }

#header .city { float:left; padding:5px 0 0 20px; color:#666; }
#header .city a { display:inline-block; padding:0 7px; height:18px; line-height:18px; color:#999; background-color:#fff; border:1px solid #e5e5e5; border-radius:4px; box-shadow:1px 1px 0 #ededed; }
#header .city .active,#header .city .active:hover { color:#d60d03; background-color:#fff; }
#header .city a:hover { background-color:#f3f3f3; }
#header .link { float:right; padding-right:20px; line-height:30px; color:#d5d5d5;}
#header .link a { color:#666; background:url(../img/header_link_bg.gif) no-repeat 0 3px; padding-left:20px; }
#header .link a:hover { text-decoration:underline; }
#header .link .ico1 { background-position:0 3px; }
#header .link .ico2 { background-position:0 -27px; }

#nav ul { position:absolute; top:10px; }
#nav li { float:left; }
#nav li a { display:block; width:66px; padding-top:50px; color:#333; text-align:center; 
	background:url(../img/nav_bg.png) no-repeat;  }
#nav li a:hover { color:#a70c01; font-weight:bold; }
#nav .bgIcon1 { background-position:0 0; }
#nav .bgIcon2 { background-position:-66px 0; }
#nav .bgIcon3 { background-position:-132px 0; }
#nav .bgIcon4 { background-position:-198px 0; }
#nav .bgIcon5 { background-position:-264px 0; }
#nav .bgIcon6 { background-position:-330px 0; }
#nav .bgIcon7 { background-position:-396px 0; }
#nav .bgIcon8 { background-position:-462px 0; }
#nav .bgIcon9 { background-position:-528px 0; }
#nav .bgIcon10 { background-position:-594px 0; }

#nav .bgIcon1:hover { background-position:0 -70px; }
#nav .bgIcon2:hover { background-position:-66px -70px; }
#nav .bgIcon3:hover { background-position:-132px -70px; }
#nav .bgIcon4:hover { background-position:-198px -70px; }
#nav .bgIcon5:hover { background-position:-264px -70px; }
#nav .bgIcon6:hover { background-position:-330px -70px; }
#nav .bgIcon7:hover { background-position:-396px -70px; }
#nav .bgIcon8:hover { background-position:-462px -70px; }
#nav .bgIcon9:hover { background-position:-528px -70px; }
#nav .bgIcon10:hover { background-position:-594px -70px; }

#nav .nav_1 { left:11px; }
#nav .nav_2 { right:11px; }
#nav h2 { width:233px; height:62px; margin:0 auto; position:relative; top:10px; }

#searchBox .bar { width:958px; height:64px;  position:absolute; top:16px; left:-1px; border:1px solid #c40d0e; background-color:#e21c01; border-radius:5px;  }
#searchBox .menu { position:absolute; left:236px; top:-27px; }
#searchBox .menu li { float:left; width:78px; height:25px; margin-right:1px; display:inline-block; border:1px solid #f8d0bf; border-bottom:none; text-align:center; line-height:25px; font-size:14px; cursor:pointer; border-radius:5px 5px 0 0; box-shadow:1px 0px 2px rgba(176,176,176,0.3); }
#searchBox .menu .active { border:1px solid #e21c01; position:relative; top:-1px; height:27px; background-color:#e21c01; color:#fff; font-weight:bold; text-shadow:2px 2px 3px rgba(0,0,0,0.25); }

#searchBox .guider-pic { width:163px; height:123px; background:url(../img/guider_pic.png) no-repeat; position:absolute; left:32px; top:-3px; z-index:2; }

#searchBox .form { position:absolute; left:236px; top:36px; z-index:3; }
#searchBox .form .key-word { width:380px; height:23px; line-height:23px; padding:0 12px; border:none; background-color:#fff1ef; border-radius:3px; float:left; margin-right:10px; font-size:12px; font-family:'微软雅黑'; color:#ea7a7a; 
box-shadow:inset 2px 2px 3px rgba(0,0,0,0.25);  }
#searchBox .form .subBtn { width:63px; height:26px;float:left; border:none; background:url(../img/guider_pic.png) no-repeat -163px 0;  }

#searchBox .key-words { width:206px;  line-height:18px; position:absolute; top:30px; right:36px;color:#fff; }
#searchBox .key-words a { color:#fff; }
#searchBox .key-words a:hover { text-decoration:underline; }

#searchBox .update { width:405px; height:30px; position:absolute; left:236px; bottom:0; background:url(../img/guider_pic.png) no-repeat -236px 8px; }
#searchBox .wrap { width:336px; height:30px; position:relative; left:60px;  overflow:hidden;}
#searchBox .update ul { width:336px; position:absolute; top:0px; left:0; }
#searchBox .update li { height:30px; line-height:30px; }
#searchBox .update a { color:#000; }
#searchBox .update a:hover { text-decoration:underline; }
#searchBox .update strong { color:#d30703; font-weight:normal; }
#searchBox .update span { color:#999; }
#searchBox .triangle_up,#searchBox .triangle-down-red { right:0; }
#searchBox .triangle_up { top:8px;}
#searchBox .triangle-down-red { top:17px;}

.slider-title {position:relative; height:42px; line-height:42px; font-size:18px; font-family:arial; color:#d90000; font-weight:normal;  }

.play { position: relative; width: 318px; height: 365px; margin-bottom:11px; font: 12px Arial;}
.play .big_pic { width: 318px; height: 285px;position: relative; overflow: hidden; background: #232;  }
.play .big_pic li { width: 318px; height: 285px;  position: absolute; top: 0; left: 0;overflow: hidden; z-index: 0; background: url(images/loading.gif) no-repeat center center;}
.play .big_pic li img{ width: 318px; height: 285px;}
.play .mark_left,.mark_right{width: 159px; height: 285px; position: absolute; left: 0; top: 0; filter: alpha(opacity:0); opacity: 0; z-index:3000;}
.play .mark_left { left: 0;}
.play .mark_right {left: 365px; }
.play .big_pic .prev,.big_pic .next{ width: 28px; height: 62px; position: absolute; top: 40%;z-index: 3001;filter:alpha(opacity:0); opacity:0; 
	cursor: pointer;line-height:62px;text-align:center;font-family:simsun;font-size:24px;font-weight:400;color:#fff; background:rgba(0,0,0,.3); }
.play .big_pic .prev { left: 0;}
.play .big_pic .next { right: 0;}
.play .big_pic .desciption,.big_pic .page{font-size: 12px; font-family: "Microsoft Yahei"; position: absolute;bottom: 4px; z-index: 3000; color: #ccc; }
.play .big_pic .desciption { left: 10px; }
.play .big_pic .page { right: 10px; }
.play .small_pic { width:260px; height: 81px; position: relative; top: 4px; left: 30px;  overflow: hidden;}
.play .small_pic ul { width:270px; height: 81px; position: absolute; top: 0; left: 0; }
.play .small_pic li { width: 81px; height: 70px; float: left; padding-right: 10px; background: url(images/loading.gif) no-repeat center center; cursor: pointer; filter: alpha(opacity=60); opacity: 0.6; }
.play .small_pic img { width: 81px;height: 70px;}
.play .tipsWrap{ width: 90px;height: 14px;position: absolute;left: 200px; bottom: 105px;background-color: #999;filter:alpha(opacity:40); opacity:0.4;
	z-index: 3001;border-radius: 6px;}
.play .tipsWrap .active{ display: block; float:left; width: 10px;height: 10px;margin: 2px 2px;background-color: #eee;
	opacity:0.8;border-radius: 5px; }

.nav li strong, .main_title strong, .login h2 em { color:#cc0d13; font-family:arial; font-size:12px; }
.nav li span, .main_title span { color:#000; }
.nav .triangle-down-red, .nav .triangle-down-gray { top:14px; right:12px; }

.main_title { position:relative; height:40px; line-height:40px; }
.main_title sup { position:absolute; top:-2px; left:18px; }
.main_title a { position:absolute; top:15px; right:0; }

.hot_list { height:374px;position:relative;  padding-top:10px; }
.hot_list li { width:318px; height:98px; padding-top:10px; margin-bottom:6px;vertical-align:middle; background:url(../img/hot_list_li_bg.gif);  }
.hot_list .img { float:left; width:106px; height:86px; }
.hot_list .img a { display:block; width:104px; height:84px; border:1px solid #e6e6e6; }
.hot_list .img a:hover { border:1px solid #929492; }
.hot_list .text { float:right; width:190px; }
.hot_list h3 { line-height:24px; font-size:12px; padding-bottom:6px; }
.hot_list h3 a { font-weight:normal; color:#bb0d0d; }
.hot_list h3 a:hover { text-decoration:underline; }
.hot_list p { line-height:16px; color:#6d6d6d; }
.hot_list .more { position:absolute; bottom:6px; right:0; }

.login { height:138px; margin-bottom:10px; overflow:hidden; }
.login h2 { text-indent:12px; color:#000; font-size:12px; line-height:34px; border-bottom:1px solid #bbdbdb; }
.login .form {position:relative; width:214px; margin:0 auto; padding:15px 0 2px; border-bottom:1px solid #f2f2f2;  
	 }
.login li { height:26px; vertical-align:middle; }
.login li span, .login li input, .login li strong { float:left; }
.login span { float:left; width:58px; color:#595959; word-spacing:7px; }
.login .text { float:left; width:87px; height:17px; margin-right:3px; overflow:hidden; border:1px solid #dbdbdb; background-color:#f7f7f7; }
.login strong { font-weight:normal; padding-left:3px; }
.login .btn { width:54px; height:23px; border:none; background-color:#cb0000; color:#fff; font-family:'宋体'; font-size:12px; font-weight:bold; border-radius:10px; }
.login p { line-height:32px; text-align:center; word-spacing:20px; }
.login p a { padding-left:14px; background:url(../img/dot.gif) no-repeat 4px center; color:#666; }
.login p a:hover { text-decoration:underline; }

.help { height:208px; }
.help p { text-indent:2em; }
.help ul { height:44px; line-height:44px; border-bottom:1px solid #bbdbdb; }
.help li { width:154px; text-indent:30px; background:url(../img/help.gif) no-repeat; font-family:arial; }
.help .phone { font-size:16px; font-weight:bold; color:#b82310; background-position:7px 11px; }
.help .msn { background-position:7px -31px; }
.help dl { width:144px;line-height:18px;  padding:15px 0 0 10px; }
.help dt { padding-bottom:8px;  font-weight:bold;}
.help dd { background:url(../img/dot.gif) no-repeat 4px center; text-indent:12px; }
.help dd a { color:#333; }
.help dd a:hover { text-decoration:underline; }

.media { height:205px; padding-top:3px; }
.media li { width:318px; height:50px; vertical-align:middle; }
.media a { width:100px;  float:left;}
.media p { width:208px; float:right; color:#333; }

.tab { height:25px; border-bottom:1px solid #dadada; }
.tab ul { height:26px; margin-bottom:-1px; position:relative; }
.tab li { float:left; height:24px; text-align:center; line-height:24px; color:#666; border:1px solid #dadada; position:relative; cursor:pointer; border-radius:4px 4px 0 0; margin-right:-1px; }
.tab .active { border-bottom:1px solid #fff; font-weight:bold; color:#454545;  background-color:#fff;}
.tab li a { top:10px; right:12px; }

.section .tab { padding:0 10px; }
.section .tab li { width:98px; }
.side_section .tab { padding:0 6px; }
.side_section .tab li { width:66px; }

.list_section li { height:27px; line-height:27px; border-top:1px dotted #dadada; background:url(../img/dot.gif) no-repeat 5px center; vertical-align:middle; }
.list_section li a { float:left; color:#333; text-indent:14px; }
.list_section li a:hover { color:#d70001; }
.list_section li a em { color:#c5c5c5; }
.list_section li a span { color:#b75d61; }
.list_section .col1, .list_section .col2, .list_section .col3 { float:left; }
.list_section .col2, .list_section .col3 { text-align:center; }

.list_section .title { background:none; color:#999; border-top:none; }
.list_section .title .col1 { text-align:center; }
.list_section .color { color:#d80000; }

.side_section .col1 { width:137px; }
.side_section .col2 { width:36px; }
.side_section .col3 { width:36px; }
.section .col1 { width:273px; }
.section .col2 { width:35px; }
.section .col2 img { position:relative; top:7px; }

.pic_list li { overflow:hidden; }
.pic_list .img { position:relative;  width:96px; height:73px;}
.pic_list .img a { display:block; width:90px; height:67px; padding:2px; border:1px solid #dadada; }
.pic_list .img a:hover { border:1px solid #b80001; }
.pic_list .text { width:108px; }
.pic_list .text h3 { padding-bottom:4px; }
.pic_list .text h3 a { color:#b80000; font-weight:normal; font-size:12px; }
.pic_list .text h3 a:hover { text-decoration:underline; }
.pic_list .text p { color:#999; }
.pic_list .text p a { color:#666; }
.pic_list .text p a:hover { color:#b80001; text-decoration:underline; }

.wrap_section1 { padding-bottom:5px; }
.wrap_section2 { padding-bottom:2px; }
.wrap_section2 li { width:214px; margin-bottom:10px;padding-bottom:10px;  border-bottom:1px dotted #dadada; vertical-align:middle; }
.wrap_section3 { padding-bottom:1px; background-color:#fff; }
.wrap_section3 .pic_list { padding-bottom:10px; }
.wrap_section3 .pic_list li { width:214px; vertical-align:middle; }
.wrap_section4 { padding-bottom:10px; background-color:#fff; }
.wrap_section4 .pic_list { overflow:hidden; }
.wrap_section4 .pic_list li { float:left; width:107px; height:150px; }
.wrap_section4 .pic_list h3 { padding-top:5px; }

.soso { height:47px;padding:17px 0 0 10px;  border-top:1px dotted #dadada; }
.soso strong, .soso .text, .soso .btn { float:left; }
.soso strong { color:#595959; padding-top:3px; }
.soso .text { width:172px; height:20px; padding:0 4px; border:1px solid #9c9c9c; line-height:20px; color:#9c9c9c; }
.soso .btn { width:24px; height:25px; background:url(../img/btn.gif); border:none; margin-left:10px; }

.panoramic { height:138px; }
.panoramic img,.panoramic span { display:block; }
.panoramic a { color:#333; }
.panoramic a:hover { color:#b80000; text-decoration:underline; }
.panoramic span { line-height:26px; }

.mark-title {  height:70px; position:relative; background:url(../img/mark-title_bg.gif) no-repeat right 0; }
.mark-title strong, .mark-title span { position:absolute; left:24px; }
.mark-title strong { font-size:12px; font-family:arial; color:#ea2b31; top:19px; }
.mark-title span { font-size:24px; color:#333; top:31px; font-weight:normal; }
.mark-title em {position:absolute; left:125px; top:16px; font-size:36px; font-weight:bold; color:#ec1c16;  }

.activity { width:348px; float:left; }
.recommend { width:348px; float:right; }
.recommend .mark-title { background-position:right -70px; }
.activity, .recommend { height:498px; }

.activity .con { background:url(../img/activity_bg.gif) no-repeat; }
.activity .info { padding:16px 25px 0; height:104px; }
.activity .img { position:relative;  float:left; width:84px; height:84px;}
.activity .mask { width:84px; height:84px; position:absolute; top:0; left:0;  background:url(../img/activity_bg.gif) no-repeat -373px 0;}
.activity .img img { width:84px; height:84px; }
.activity .text { float:right; width:204px; }
.activity .text h3 { height:32px; font-size:12px; }
.activity .text em, .activity .text span { float:left; margin-right:4px; }
.activity .text em { width:25px; height:25px; background:url(../img/activity_bg.gif) no-repeat -348px 0; font-family:arial; font-size:14px; color:#cf3530; text-align:center; line-height:25px; }
.activity .text span { text-indent:2px; padding-top:3px; }
.activity .text p { line-height:18px; color:#999; }

.calendar { width:323px; padding-left:25px; position:relative; }
.calendar h3 { height:34px; line-height:34px; text-align:center; margin-right:31px; background:url(../img/adorn.gif)  repeat-x; word-spacing:10px; }
.calendar h3 span { font-size:14px; font-family:arial; color:#666; }
.calendar ol li { width:40px; height:40px; line-height:40px; margin:0 2px 2px 0; float:left;  position:relative;  background-color:#ededed;text-align:center;font-weight:bold; color:#666; font-family:arial; }
.calendar .normal { background-color:#f8f8f8; color:#ccc; }
.calendar .active, .calendar .img { position:absolute; top:0; left:0; }
.calendar .active { width:36px; height:36px; border:2px solid #d30406; cursor:pointer; }
.calendar .img { width:40px; height:40px; cursor:pointer; }

.subject-today { width:294px; height:84px; padding:10px; border:1px solid #c0c0c0; background-color:#fff; position:absolute; top:136px; left:288px; box-shadow:4px 4px 0 rgba(0,0,0,0.2); display:none; }
.subject-today img { width:80px; height:80px; border:2px solid #dbcbdb; float:left; }
.subject-today .text { width:200px; float:right; }
.subject-today h4 { font-size:12px; color:#333; padding-bottom:8px; }
.subject-today strong { color:#ccc; font-size:18px; vertical-align:middle; }
.subject-today p { color:#999; line-height:20px; }
.subject-today span { width:8px; height:14px; overflow:hidden; position:absolute; top:45px; left:-8px; background:url(../img/adorn.gif) no-repeat 0 -48px; }

.recommend .pic { width:294px; height:168px; margin:0 auto; position:relative;  padding:12px 12px 0; background-color:#f7f8f8;border-radius:6px; }
.recommend .pic ul { width:233px; height:133px; position:absolute; top:12px; left:12px; }
.recommend .pic ul li { width:233px; height:133px;position:absolute; top:0; left:0;  border:1px solid #fff; }
.recommend .pic ul img { width:233px; height:133px; }
.recommend .pic ol { position:absolute; top:12px; right:12px; }
.recommend .pic ol li,.recommend .pic ol img { width:54px; height:30px; }
.recommend .pic ol li { margin-bottom:13px;  border:3px solid #fff;}
.recommend .pic ol .active { border:3px solid #d6191d; }
.recommend .pic p { position:absolute; left:12px; bottom:0px; line-height:32px; }

.recommend .list { padding:18px 26px 0; }
.recommend .list li { height:27px; vertical-align:middle; }
.recommend .list em { float:left; color:#dfdfdf; margin-right:7px; }
.recommend .list em img { margin-right:3px; }
.recommend .list a { float:left; color:#454445; }
.recommend .list a:hover { text-decoration:underline; }
.recommend .list span { float:right; font-family:arial; font-size:12px; color:#999; }

.bbs { height:328px; }
.bbs ol li { position:relative;  height:30px; line-height:30px; margin-bottom:3px; background-color:#f8f8f8; border-radius: 6px; vertical-align:middle;}
.bbs ol strong, .bbs ol a { float:left; }
.bbs ol strong { color:#d80000; width:45px; text-indent:10px; }
.bbs ol img { display:none; }
.bbs ol a { color:#333; }
.bbs ol span { display:none; }
.bbs ol em { display:none; }
.bbs ol b { float:right; color:#666; padding-right:23px; font-weight:normal; }
.bbs .active { height:70px; background-color:#d90000; }
.bbs .active img, .bbs .active a, .bbs .active span, .bbs .active em { position:absolute; }
.bbs .active img { display:block; top:10px; left:10px; }
.bbs .active a { color:#fff; font-weight:bold; top:7px; left:70px; }
.bbs .active span { display:block; color:#fff; top:33px; left:70px; }
.bbs .active b { display:none; }
.bbs .active em { display:block; color:#fff; font-size:26px; font-weight:bold; bottom:-5px; right:4px; }

.hot-area { height:258px; }
.hot-area li { margin:0 2px 2px 0; float:left; position:relative; }
.hot-area li, .hot-area li img { width:78px; height:78px; }
.hot-area .area1, .hot-area .area1 img { width:156px; height:78px; }
.hot-area .area2, .hot-area .area2 img { width:77px; height:78px; }
.hot-area p { width:144px; height:66px; position:absolute; top:0; left:0;  padding:12px 0 0 12px; line-height:18px; background:rgba(0,0,0,0.5); color:#fff;}















/*纪念，做的第三遍，终于稍微满意些了，学到了好多。Work harder*/